@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.page {
  background-color: #495057;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.calculator {
  background-color: #212529;

  width: 100%;
  max-width: 500px;

  margin: 0 1rem;
  padding: 4rem;

  border-radius: 15px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5);
}

.calculator__display {
  background-color: #343a40;
  color: #f8f9fa;

  border-radius: 10px;

  font-size: 4rem;
  text-align: right;

  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.calculator__btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.calculator__btn {
  background-color: #dee2e6;
  border: none;
  border-radius: 5px;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  font-size: 2.5rem;

  padding: 2rem 4rem;

  transition: all 0.3s;
}

.calculator__btn:hover {
  background-color: #adb5bd;
}
.calculator__btn:active {
  background-color: #6c757d;
}

.calculator__btn.btn-c {
  background-color: #a4161a;
  color: #f8f9fa;

  font-weight: 600;
  grid-column-start: 1;
  grid-column-end: 3;
}

.calculator__btn.btn-c:hover {
  background-color: #ba181b;
}

.calculator__btn.btn-c:active {
  background-color: #e5383b;
}

.calculator__btn.btn-equal {
  background-color: #40916c;
  color: #f8f9fa;

  grid-column-start: 3;
  grid-column-end: 5;
}

.calculator__btn.btn-equal:hover {
  background-color: #52b788;
}

.calculator__btn.btn-equal:active {
  background-color: #74c69d;
}

@media (max-width: 520px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 30%;
  }
}
